* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: "Poppins" sans-serif;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vmin;
  height: 90vmin;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.newTask {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  box-shadow: 0px 25px 45px rgba(0, 0, 0, 0.7);
}
.newTask input {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  font-size: 13px;
  padding: 0px 10px;
}
.newTask input:focus {
  outline: 0;
  border: 2px solid rebeccapurple;
}
.newTask button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  padding: 0px 35px;
  border-radius: 5px;
  border: 0;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
}

.taskLists {
  width: 100%;
  overflow-y: scroll;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 8px;
}
.task-title {
  cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: green;
}
.delete {
  padding: 4px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  text-transform: capitalize;
  cursor: pointer;
}

.delete:hover {
  background-color: red;
  color: white;
}
